extends ../layout

block css
  link(rel="stylesheet", href="css/about-us.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/about-us.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block content
  // === Content Part ===
  .container.content
    .alert.alert-warning.fade.in.margin-bottom-40
      button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
      | 				Bootstrap 3 includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases.
      br
      | 				Please read more about grid system form the offecial Botostrap page
      a(target='_blank', href='http://getbootstrap.com/css/#grid') http://getbootstrap.com/css/#grid
    .row
      // Begin Content
      .col-md-9
        .row.margin-bottom-10
          .col-md-9
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | Three Fourth
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est
          .col-md-3
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Fourth
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
        // /row
        .row.margin-bottom-10
          .col-md-4
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Third
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus
          .col-md-8
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | Two Third
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
        // /row
        .row.margin-bottom-10
          .col-md-3
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Fourth
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna.
          .col-md-6
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Half
              p
                | At vero eos similique sunt in culpa qui officia deserunt et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
          .col-md-3
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Fourth
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna
        // /row
        .row.margin-bottom-10
          .col-md-4
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Third
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          .col-md-4
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Third
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          .col-md-4
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Third
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        // /row
        .row.margin-bottom-10
          .col-md-6
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Half
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in feugiat.
          .col-md-6
            .bg-light
              // You can delete "bg-light" class. It is just to make background color
              h4
                i.fa.fa-align-justify
                | One Half
              p
                | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique suntin
        // /row
      // End Content
  // /container
  // === End Content Part ===
