extends ../layout

block css
  link(rel="stylesheet", href="/css/home.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/parallax-slider/js/modernizr.js')
  script(type='text/javascript', src='assets/plugins/parallax-slider/js/jquery.cslider.js')
  script(type='text/javascript', src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript', src='assets/js/plugins/parallax-slider.js')
  script(type='text/javascript', src='assets/js/plugins/owl-recent-works.js')
  // JS Customization
  script(src="/js/common.js")
  script(src="/js/home.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='ssets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block slider
  // === Slider ===
  .slider-inner
    #da-slider.da-slider
      .da-slide
        h2
          i CLEAN & FRESH
          br
          i FULLY RESPONSIVE
          br
          i DESIGN
        p
          i Lorem ipsum dolor amet
          br
          i tempor incididunt ut
          br
          i veniam omnis
        .da-img
          img.img-responsive(src='assets/plugins/parallax-slider/img/1.png', alt='')
      .da-slide
        h2
          i RESPONSIVE VIDEO
          br
          i SUPPORT AND
          br
          i MANY MORE
        p
          i Lorem ipsum dolor amet
          br
          i tempor incididunt ut
        .da-img
          iframe(src='http://player.vimeo.com/video/47911018', width='530', height='300', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
      .da-slide
        h2
          i USING BEST WEB
          br
          i SOLUTIONS WITH
          br
          i HTML5/CSS3
        p
          i Lorem ipsum dolor amet
          br
          i tempor incididunt ut
          br
          i veniam omnis
        .da-img
          img(src='assets/plugins/parallax-slider/img/html5andcss3.png', alt='image01')
      .da-arrows
        span.da-arrows-prev
        span.da-arrows-next
  // /slider
  // === End Slider ===

block breadcrumbs
  // === Purchase Block ===
  .purchase
    .container
      .row
        .col-md-9.animated.fadeInLeft
          span Unify is a clean and fully responsive incredible Template.
          p
            | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.
        .col-md-3.btn-buy.animated.fadeInRight
          a.btn-u.btn-u-lg(href='/contact')
            i.icon-envelope
            |  お問合せ
  // /row
  // End Purchase Block

block content
  // === Content Part ===
  .container.content
    // Recent Works
    .owl-carousel-v1.owl-work-v1.margin-bottom-40
      .headline
        h2.pull-left Recent Works
        .owl-navigation
          .customNavigation
            a.owl-btn.prev-v2
              i.fa.fa-angle-left
            a.owl-btn.next-v2
              i.fa.fa-angle-right
        // /navigation
      .owl-recent-works-v1
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img1.jpg', alt='')
            span
              strong Happy New Year
              i Anim pariatur cliche reprehenderit
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img2.jpg', alt='')
            span
              strong Award Winning Agency
              i Responsive Bootstrap Template
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img3.jpg', alt='')
            span
              strong Wolf Moon Officia
              i Pariatur prehe cliche reprehrit
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img4.jpg', alt='')
            span
              strong Food Truck Quinoa Nesciunt
              i Craft labore wes anderson cred
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img5.jpg', alt='')
            span
              strong Happy New Year
              i Anim pariatur cliche reprehenderit
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img1.jpg', alt='')
            span
              strong Happy New Year
              i Anim pariatur cliche reprehenderit
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img2.jpg', alt='')
            span
              strong Award Winning Agency
              i Responsive Bootstrap Template
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img3.jpg', alt='')
            span
              strong Wolf Moon Officia
              i Pariatur prehe cliche reprehrit
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img4.jpg', alt='')
            span
              strong Food Truck Quinoa Nesciunt
              i Craft labore wes anderson cred
        .item
          a(href='#')
            em.overflow-hidden
              img.img-responsive(src='assets/img/main/img5.jpg', alt='')
            span
              strong Happy New Year
              i Anim pariatur cliche reprehenderit
    // End Recent Works
  // /container
  // End Content Part
