extends ../layout

block css
  link(rel="stylesheet", href="css/privacy.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/privacy.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left Privacy Policy
  // /breadcrumbs
  // === End Breadcrumbs ===


block content
  // === Content Part ===
  .container.content
    .row-fluid.privacy
      p.lead
        em
          | 個人情報保護方針
      br
      ol
        li.h4
          | 個人情報の収集と利用
        p
          | 弊社が収集したお客様個人に関する情報（以下、「個人情報」といいます）は、サービス提供上必要なものに限ります。 また、個人情報のご利用は、収集目的から逸脱しない範囲とし、以下の目的の範囲内とします。
        ol
          li
            | 業務上のご連絡、特に弊社とお客様又はお客様の所属する事業者との取引に関するご連絡や、その連絡履歴の管理。
          li
            | お客様が弊社製品の利用者である場合に、当該製品に関する技術・営業情報のご提供や、その提供履歴の管理。
          li
            | 上記 (1、2) に加え、取得時に弊社が利用目的を明示している場合にはその利用目的。
        br
        li.h4
          | 個人情報の管理と保護
        p
          | 弊社が取得した個人情報に関して、必要なデータ以外は、電子処理にてマスクし最低限度の情報のみ利用いたします。
        ol
          li
            | 個人情報への不正アクセス、紛失、破壊、改ざん及び漏えい等を防止する為の措置を講じております。
          li
            | お客様が弊社製品の利用者である場合に、当該製品に関する技術・営業情報のご提供や、その提供履歴の管理。
          li
            | 弊社が、個人情報の処理を外部へ委託する場合には、漏えいや再提供を行わないよう契約により義務づけ、適切な管理をさせていただきます。
          li
            | 委託元よりお預かりした個人情報は、厳正なる管理を行い契約の範囲内で利用いたします。
        br
        li.h4
          | 法令、規範の遵守
        p
          | 弊社は、常時「個人情報保護管理責任者」を配し、弊社が所有する個人情報に関して適用される法令、規範を遵守いたします。
        br
        li.h4
          | 個人情報保護管理体制及び仕組みの継続改善
        p
          | 弊社では、個人情報保護に関する重要性は役員及び社員全員が認識しており、上記取組み及び保護活動を、維持、改善しています。
        br
      p
        | ※個人情報保護方針に関するお問合せは、
        a(href='mailto:info@shinesoft.co.jp') info@shinesoft.co.jp
        = ' '
        | までご連絡ください。
      .col-sm-11.col-md-11.text-right
        p 制定：平成18年6月1日
        p 株式会社シャインソフト
        p 個人情報保護管理責任者
    // /row-fluid
  // /container
  // === End Content Part ===
