extends ../layout

block css
  link(rel="stylesheet", href="css/recruitment.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/circles-master/circles.js')
  script(type='text/javascript', src='assets/plugins/owl-carousel/owl-carousel/owl.carousel.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/owl-carousel.js')
  script(type='text/javascript', src='assets/js/plugins/circles-master.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript', src='assets/js/plugins/owl-recent-works.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/recruitment.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left Recruitment
  // /breadcrumbs
  // === End Breadcrumbs ===

block content
  // === Job Description ===
  .job-description
    .container.content
      .row
        // Left Inner
        .col-md-7
          // Tab v1
          .tab-v1.left-inner
            ul.nav.nav-tabs
              li.regular-employee.active
                a(href='#regular_employee', data-toggle='tab') 正社員募集
              li.contract-employee
                a(href='#contract_employee', data-toggle='tab') 契約社員募集
              li.free-employee
                a(href='#free_employee', data-toggle='tab') フリー募集
            .tab-content
              #regular_employee.tab-pane.fade.in.active
                .service-block-v6
                  i.icon-custom.rounded-4x.icon-md.icon-bg-green.fa.fa-lightbulb-o
                  .service-desc
                    h2 正社員を募集しております！！！
                    p
                      | 弊社が歓迎する人材―４つの能力という基本姿勢。
                    ol
                      li
                        |  問題解決能力の高い人
                      li
                        |  指示待ちではなく、自分の頭で物事を考え行動できる人
                      li
                        |  さらに、常に向上心を持って取り組むことができる人
                      li
                        |  そしてコンピュータに自身の可能性を賭けたい人
                    p
                      | そのような方は性別・年齢・学歴・国籍を問わず募集しております。
                hr
                h2 募集職種
                ol
                  li
                    | IT経験者およびエージェント経験者
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトマネージャー
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトリーダー
                      li
                        i.fa.fa-check.color-green
                        |  コンピュータシステムのプランニングおよびコンサルティング
                  li
                    | 営業および営業責任者
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  常駐型技術者の営業
                      li
                        i.fa.fa-check.color-green
                        |  クライアントは上場、上場に準じた大手ＳＩのみ
                      li
                        i.fa.fa-check.color-green
                        |  技術者稼動後の技術者に対するケアも大切な仕事です

                  li
                    | SE、BSE、PG
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  Java、C、C++、C#、VBでのプログラミング経験のある方
                      li
                        i.fa.fa-check.color-green
                        |  Java、OracleでE-Business Suiteの経験者
                      li
                        i.fa.fa-check.color-green
                        |  .NET、Struts、SOAP、EJB、UML等経験者
                hr
                h2 待遇
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  給与： 経験等を考慮して当社規定により優遇
                  li
                    i.fa.fa-check.color-green
                    |  待遇： 各種社会保険完備
                  li
                    i.fa.fa-check.color-green
                    |  休日： 週休二日制、祝日、年末年始、夏期休暇、慶弔休暇
                hr
                .row
                  .col-md-7
                    h2 応募方法
                    p
                      | 履歴書、職務経歴書をメールにてお送りください。
                      br
                      a(href='mailto:info@shinesoft.co.jp') info@shinesoft.co.jp
                      br
                      | 書類選考後、弊社よりご連絡いたします。
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.regular-employee
                        h3
                          | 正社員応募
                      .pricing-footer
                        br
                        button.btn-u.btn-u-green.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  履歴書ダウンロード
              #contract_employee.tab-pane.fade.in
                .service-block-v6
                  i.icon-custom.rounded-2x.icon-lg.icon-bg-orange.fa.fa-bullhorn
                  .service-desc
                    h2 契約社員を募集しております！！！
                    p
                      | 大手SIからのプロジェクトを中心とする開発。
                      br
                      | オープン系、汎用系、制御系と幅広く取組んでいます。
                      br
                      | テクニカルな面だけでなく、金融（生保、損保、銀行、証券、クレジット、生産管理、その他）の業務知識をお持ちの方も求めています。業務経験が深ければ50歳代でもプロジェクトへの参入が可能となります。
                      br
                      | 将来の目標をお持ちの方、胸を張って主張できる得意分野をお持ちの方、特に歓迎いたします。
                hr
                h2 募集職種
                ol
                  li
                    | SE
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトマネジメント、要件定義～設計、開発までの担当
                  li
                    | PG
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトメンバーとして、システム設計、開発、テストまでの担当
                hr
                h2 プロジェクト
                ol
                  li
                    | OPEN系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  C、Java、.NET、Oracle、C++、C#等を用いて設計、開発
                  li
                    | 汎用系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  COBOL、PL/I、ASM等を用いて設計、開発
                  li
                    | 制御系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  C、C++、VC++などを用いて設計、開発
                hr
                h2 待遇
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  勤務地： 首都圏各地（東京、神奈川、千葉、埼玉）
                  li
                    i.fa.fa-check.color-green
                    |  報酬： スキルに応じて相談（25万円～70万円程度）
                hr
                .row
                  .col-md-7
                    h2 応募方法
                    p
                      | 履歴書、職務経歴書をメールにてお送りください。
                      br
                      a(href='mailto:info@shinesoft.co.jp') info@shinesoft.co.jp
                      br
                      | 書類選考後、弊社よりご連絡いたします。
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.contract-employee
                        h3
                          | 契約社員応募
                      .pricing-footer
                        br
                        button.btn-u.btn-u-orange.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  履歴書ダウンロード
              #free_employee.tab-pane.fade.in
                .service-block-v6
                  i.icon-custom.rounded-2x.icon-lg.icon-bg-purple.icon-line.icon-rocket
                  .service-desc
                    h2 フリーを募集しております！！！
                    p
                      | テクニカルな面だけでなく、金融（生保、損保、銀行、証券、クレジット、生産管理、その他）の業務知識をお持ちの方も求めています。業務経験が深ければ50歳代でもプロジェクトへの参入が可能となります。
                hr
                h2 募集職種
                ol
                  li
                    | SE
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトマネジメント、要件定義～設計、開発までの担当
                  li
                    | PG
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  プロジェクトメンバーとして、システム設計、開発、テストまでの担当
                hr
                h2 プロジェクト
                ol
                  li
                    | OPEN系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  C、Java、.NET、Oracle、C++、C#等を用いて設計、開発
                  li
                    | 汎用系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  COBOL、PL/I、ASM等を用いて設計、開発
                  li
                    | 制御系
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        |  C、C++、VC++などを用いて設計、開発
                hr
                h2 待遇
                ul.list-unstyled
                  li
                    i.fa.fa-check.color-green
                    |  勤務地： 首都圏各地（東京、神奈川、千葉、埼玉）
                  li
                    i.fa.fa-check.color-green
                    |  報酬： 案件条件に応じてご相談
                hr
                .row
                  .col-md-7
                    h2 応募方法
                    p
                      | 履歴書、職務経歴書をメールにてお送りください。
                      br
                      a(href='mailto:info@shinesoft.co.jp') info@shinesoft.co.jp
                      br
                      | 書類選考後、弊社よりご連絡いたします。
                  .col-md-5
                    .pricing.hover-effect
                      .pricing-head.free-employee
                        h3
                          | フリー応募
                      .pricing-footer
                        br
                        button.btn-u.btn-u-purple.pulse-grow(data-toggle='modal', data-target='#')
                          i.fa.fa-cloud-download
                          |  履歴書ダウンロード
        // End Left Inner
        // Right Inner
        .col-md-5
          .right-inner
            #testimonials-3.carousel.slide.testimonials.testimonials-v1
              .headline.margin-bottom-60
                h2.pull-left 社員たちの声
              .carousel-inner
                .item.active
                  p.rounded-2x
                    | Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/img2.jpg', alt='')
                    span.testimonial-author
                      | Jeremy Asigner
                      em Web Developer, Unify Theme.
                .item
                  p.rounded-2x
                    | Ducimusqui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/img1.jpg', alt='')
                    span.testimonial-author
                      | User
                      em Java Developer, Htmlstream
                .item
                  p.rounded-2x
                    | Ducimusqui ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, sunt in culpaid delvoe molestias..
                  .testimonial-info
                    img.rounded-2x(src='assets/img/testimonials/user.jpg', alt='')
                    span.testimonial-author
                      | Kate Davenport
                      em Web Designer, Google Inc.
              .carousel-arrow
                a.left.carousel-control(href='#testimonials-3', data-slide='prev')
                  i.fa.fa-angle-left.rounded
                a.right.carousel-control(href='#testimonials-3', data-slide='next')
                  i.fa.fa-angle-right.rounded
            hr
            .owl-carousel-v1.owl-work-v1.margin-bottom-40
              .headline
                h2.pull-left 会社生活
                .owl-navigation
                  .customNavigation
                    a.owl-btn.prev-v2
                      i.fa.fa-angle-left
                    a.owl-btn.next-v2
                      i.fa.fa-angle-right

                // /navigation
              .owl-recent-works-v1
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img1.jpg', alt='')
                    span
                      strong Happy New Year
                      i Anim pariatur cliche reprehenderit
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img2.jpg', alt='')
                    span
                      strong Award Winning Agency
                      i Responsive Bootstrap Template
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img3.jpg', alt='')
                    span
                      strong Wolf Moon Officia
                      i Pariatur prehe cliche reprehrit
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img4.jpg', alt='')
                    span
                      strong Food Truck Quinoa Nesciunt
                      i Craft labore wes anderson cred
                .item
                  a(href='#')
                    em.overflow-hidden
                      img#owl-carousel.img-responsive(src='assets/img/main/img5.jpg', alt='')
                    span
                      strong Happy New Year
                      i Anim pariatur cliche reprehenderit
        // End Right Inner
  // === End Job Description ===
