extends ../layout

block css
  link(rel="stylesheet", href="css/services.css")

block js
  // JS Global Compulsory
  script(type='text/javascript', src='assets/plugins/jquery/jquery.min.js')
  script(type='text/javascript', src='assets/plugins/jquery/jquery-migrate.min.js')
  script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
  // JS Implementing Plugins
  script(type='text/javascript', src='assets/plugins/back-to-top.js')
  script(type='text/javascript', src='assets/plugins/smoothScroll.js')
  script(type='text/javascript', src='assets/plugins/jquery.parallax.js')
  script(type='text/javascript', src='assets/plugins/counter/waypoints.min.js')
  script(type='text/javascript', src='assets/plugins/counter/jquery.counterup.min.js')
  script(type='text/javascript', src='assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js')
  // JS Page Level
  script(type='text/javascript', src='assets/js/app.js')
  script(type='text/javascript', src='assets/js/plugins/style-switcher.js')
  script(type='text/javascript', src='assets/js/plugins/cube-portfolio/cube-portfolio-lightbox.js')
  // JS Customization
  script(src="js/common.js")
  script(src="js/services.js")
  != '\n<!--[if lt IE 9]>'
  script(src='assets/plugins/respond.js')
  script(src='assets/plugins/html5shiv.js')
  script(src='assets/plugins/placeholder-IE-fixes.js')
  != '\n<![endif]-->\n'

block breadcrumbs
  // === Breadcrumbs ===
  .breadcrumbs
    .container
      h1.pull-left Services
  // /breadcrumbs
  // === End Breadcrumbs ===

block content
  // === Service Blocks ===
  .container.content-sm
    .text-center.margin-bottom-50
      h2.title-v2.title-center OUR SERVICES
      p.space-lg-hor
        | If you are going to use a
        span.color-green passage of Lorem Ipsum
        | , you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
        span.color-green this the first
        |  true generator on the Internet.
    .row.content-boxes-v4.content-boxes-v4-sm.margin-bottom-30
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-directions
        .content-boxes-in-v4
          h2 Creative Ideas
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-handbag
        .content-boxes-in-v4
          h2 E-Commerce Pages
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4
        i.pull-left.icon-chemistry
        .content-boxes-in-v4
          h2 Clean Code
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
    hr
    .row.content-boxes-v4.content-boxes-v4-sm.margin-bottom-30
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-info.margin-right-10
        .content-boxes-in-v4
          h2 Extensive Documentation
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-social-youtube.margin-right-10
        .content-boxes-in-v4
          h2 Vimeo / Youtube
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4
        i.pull-left.icon-fire.margin-right-10
        .content-boxes-in-v4
          h2 Excellent Features
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
    hr
    .row.content-boxes-v4.content-boxes-v4-sm
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-layers
        .content-boxes-in-v4
          h2 Multiple Layouts
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4.md-margin-bottom-40
        i.pull-left.icon-rocket
        .content-boxes-in-v4
          h2 Ready To Use
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
      .col-md-4
        i.pull-left.icon-support
        .content-boxes-in-v4
          h2 Stunning Support
          p
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          a(href='#') Learn More
  // === End Service Blocks ===
  // === Cube Portfolio ===
  .container.content-sm
    .text-center.margin-bottom-30
      h2.title-v2.title-center LATEST PROJECTS
      p.space-lg-hor
        | If you are going to use a
        span.color-green passage of Lorem Ipsum
        | , you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
        span.color-green this the first
        |  true generator on the Internet.
    .cube-portfolio.container.margin-bottom-20
      .margin-bottom-30
        #filters-container.cbp-l-filters-text
          .cbp-filter-item-active.cbp-filter-item(data-filter='*')  All
          |  |
          .cbp-filter-item(data-filter='.illustration')  Illustration
          |  |
          .cbp-filter-item(data-filter='.web-design')  Web Design
          |  |
          .cbp-filter-item(data-filter='.graphic')  Graphic
          |  |
          .cbp-filter-item(data-filter='.logo')  Logo
        // /end Filters Container
      #grid-container.cbp-l-grid-gallery
        .cbp-item.illustration.web-design
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project1.html', data-title='World Clock Widget<br>by Paul Flavius Nechita')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/20.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Paul Flavius
                  .cbp-l-caption-desc Development
        .cbp-item.web-design.logo
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project2.html', data-title='Bolt UI<br>by Tiberiu Neamu')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/19.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Tiberiu Neamu
                  .cbp-l-caption-desc Web-Design
        .cbp-item.illustration.web-design
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project3.html', data-title='WhereTO App<br>by Tiberiu Neamu')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/21.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Tiberiu Neamu
                  .cbp-l-caption-desc Illustration
        .cbp-item.web-design.illustration
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project4.html', data-title='iDevices<br>by Tiberiu Neamu')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/22.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Tiberiu Neamu
                  .cbp-l-caption-desc Illustration
        .cbp-item.web-design.graphic
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project5.html', data-title='Seemple* Music for iPad<br>by Tiberiu Neamu')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/24.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Tiberiu Neamu
                  .cbp-l-caption-desc Illustration
        .cbp-item.illustration.web-design.graphic
          a.cbp-caption.cbp-singlePageInline(href='assets/ajax/cube-portfolio/project6.html', data-title='Remind~Me Widget<br>by Tiberiu Neamu')
            .cbp-caption-defaultWrap
              img(src='assets/img/portfolio/23.jpg', alt='')
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title Tiberiu Neamu
                  .cbp-l-caption-desc Web-Design
      // /end Grid Container
  // === End Cube Portfolio ===
